<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170108110737-a8u32nfqupifodiorumjpje88t5ie4bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170108110737-a8u32nfqupifodiorumjpje88t5ie4bp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>170108110737-rahjsqnk4d0fkee1h89nisr0r6vtpqep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA59dJtLqLGuAgqlvNMW8OCJVtUlMeZthM</string>
	<key>GCM_SENDER_ID</key>
	<string>170108110737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.utaraDrive</string>
	<key>PROJECT_ID</key>
	<string>utara-drive</string>
	<key>STORAGE_BUCKET</key>
	<string>utara-drive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170108110737:ios:a2e6f576c8c1fb653cfc30</string>
</dict>
</plist>